@model Microservice.Admin.ViewModels.Template.CreateTemplateVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CreateTemplateVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TemplateAdi" class="control-label"></label>
                <input asp-for="TemplateAdi" class="form-control" />
                <span asp-validation-for="TemplateAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemplateTuru" class="control-label"></label>
                <input asp-for="TemplateTuru" class="form-control" />
                <span asp-validation-for="TemplateTuru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderName" class="control-label"></label>
                <input asp-for="FolderName" class="form-control" />
                <span asp-validation-for="FolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayoutPath" class="control-label"></label>
                <input asp-for="LayoutPath" class="form-control" />
                <span asp-validation-for="LayoutPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

