
@{
    ViewBag.Title = "mixed";
    ViewBag.pTitle = "Apexcharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Line & Column Charts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="line_column_chart" data-colors='["--bs-primary", "--bs-warning"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Multiple Y-Axis Charts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="multi_chart" data-colors='["--bs-primary", "--bs-info", "--bs-success"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Line & Area Charts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="line_area_chart" data-colors='["--bs-primary", "--bs-light"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Line, Column & Area Charts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="line_area_charts" data-colors='["--bs-primary", "--bs-danger", "--bs-success"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Line Scatter Charts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="line_scatter_chart" data-colors='["--bs-primary", "--bs-info"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
@section scripts{


    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- mixed charts init -->
    <script src="~/assets/js/pages/apexcharts-mixed.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}
