
@{
    ViewBag.Title = "range";
    ViewBag.pTitle = "Apexcharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Basic Range Chart</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="basic_range" data-colors='["--bs-success"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Combo Chart</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="combo_range" data-colors='["--bs-danger", "--bs-success", "--bs-primary"]' class="apex-charts" dir="ltr"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>

@section scripts{

    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- radarcharts init -->
    <script src="~/assets/js/pages/apexcharts-range.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}
