@{
    ViewBag.Title = "Anasayfa";
    ViewBag.pTitle = "Admin Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xxl-9">

        <div class="row">
            <div class="col-xl-4">
                <div class="card bg-danger-subtle" style="background: url('/assets/images/dashboard/dashboard-shape-1.png'); background-repeat: no-repeat; background-position: bottom center; ">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="avatar avatar-sm avatar-label-danger">
                                <i class="mdi mdi-buffer mt-1"></i>
                            </div>
                            <div class="ms-3">
                                <p class="text-danger mb-1">Toplam haber</p>
                                <h4 class="mb-0">120</h4>
                            </div>
                        </div>
                        <div class="hstack gap-2 mt-3">
                            <button class="btn btn-info">Tüm haberleri görün -> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card bg-success-subtle" style="background: url('/assets/images/dashboard/dashboard-shape-2.png'); background-repeat: no-repeat; background-position: bottom center; ">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="avatar avatar-sm avatar-label-success">
                                <i class="mdi mdi-cash-usd-outline mt-1"></i>
                            </div>
                            <div class="ms-3">
                                <p class="text-success mb-1">Toplam Duyuru</p>
                                <h4 class="mb-0">120</h4>
                            </div>
                        </div>
                        <div class="mt-3 mb-2">
                            <p class="mb-0">Tüm duyuruları gör</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card bg-info-subtle" style="background: url('/assets/images/dashboard/dashboard-shape-3.png'); background-repeat: no-repeat; background-position: bottom center; ">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="avatar avatar-sm avatar-label-info">
                                <i class="mdi mdi-webhook mt-1"></i>
                            </div>
                            <div class="ms-3">
                                <p class="text-info mb-1">Toplam etkinlik</p>
                                <h4 class="mb-0">72</h4>
                            </div>
                        </div>
                        <div class="mt-3 mb-2">
                            <p class="mb-0"><span class="text-primary me-2 fs-14"><i class="fas fa-caret-up me-1"></i>3.4%</span>vs last month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-layer-group fs-14 text-muted"></i>
                    </div>
                    <h4 class="card-title mb-0">Toplam Yapılan İşlemler</h4>
                </div><!-- end card header -->

                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-8">
                            <div id="products" data-colors='["--bs-primary"]' class="apex-charts" dir="ltr"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-grid gap-2">
                                <div class="mb-3">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">48</span>
                                        <span class="text-muted">Pazartesi</span>
                                    </div>
                                    <div class="progress" style="height: 6px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 48%;"></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">100</span>
                                        <span class="text-muted">Salı</span>
                                    </div>
                                    <div class="progress" style="height: 6px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%;"></div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">40</span>
                                        <span class="text-muted">Çarşamba</span>
                                    </div>
                                    <div class="progress" style="height: 6px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 40%;"></div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">68</span>
                                        <span class="text-muted">Perşembe</span>
                                    </div>
                                    <div class="progress" style="height: 6px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 68%;"></div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">56</span>
                                        <span class="text-muted">Cuma</span>
                                    </div>
                                    <div class="progress" style="height: 6px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 56%;"></div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">80</span>
                                        <span class="text-muted">Cumartesi</span>
                                    </div>
                                    <div class="progress" style="height: 6px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 80%;"></div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">80</span>
                                        <span class="text-muted">Pazar</span>
                                    </div>
                                    <div class="progress" style="height: 6px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 92%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div>
        </div>
    </div>

    <div class="col-xxl-3">
        <div class="row">
            <div class="col-xxl-12 order-4 order-xxl-2">
                <div class="card">
                    <div class="card-header">
                        <div class="card-icon text-muted"><i class="fa fa-bell"></i></div>
                        <h3 class="card-title">Yönetimden Duyurular</h3>
                        <div class="card-addon">
                            <div class="dropdown">
                                <button class="btn btn-sm py-0 btn-label-primary dropdown-toggle" data-bs-toggle="dropdown">All <i class="mdi mdi-chevron-down fs-17 align-middle ms-1"></i></button>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                                    <a class="dropdown-item" href="#"><span class="badge badge-label-primary">Personal</span> </a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-label-info">Work</span> </a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-label-success">Important</span> </a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-label-danger">Company</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="rich-list rich-list-bordered rich-list-action">
                            <div class="rich-list-item">
                                <div class="rich-list-prepend">
                                    <div class="avatar avatar-xs avatar-label-info">
                                        <div class=""><i class="fa fa-file-invoice"></i></div>
                                    </div>
                                </div>
                                <div class="rich-list-content">
                                    <h4 class="rich-list-title mb-1">New report has been received</h4>
                                    <p class="rich-list-subtitle mb-0">2 min ago</p>
                                </div>
                                <div class="rich-list-append">
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-label-secondary btn-icon" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-h fs-12"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-check"></i></div>
                                                <span class="dropdown-content">Mark as read</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-trash-alt"></i></div>
                                                <span class="dropdown-content">Delete</span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-cog"></i></div>
                                                <span class="dropdown-content">Settings</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rich-list-item">
                                <div class="rich-list-prepend">
                                    <div class="avatar avatar-xs avatar-label-success">
                                        <div class=""><i class="fa fa-shopping-basket"></i></div>
                                    </div>
                                </div>
                                <div class="rich-list-content">
                                    <h4 class="rich-list-title mb-1">Last order was completed</h4>
                                    <p class="rich-list-subtitle mb-0">1 hrs ago</p>
                                </div>
                                <div class="rich-list-append">
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-label-secondary btn-icon" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-h fs-12"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-check"></i></div>
                                                <span class="dropdown-content">Mark as read</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-trash-alt"></i></div>
                                                <span class="dropdown-content">Delete</span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-cog"></i></div>
                                                <span class="dropdown-content">Settings</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rich-list-item">
                                <div class="rich-list-prepend">
                                    <div class="avatar avatar-xs avatar-label-danger">
                                        <div class=""><i class="fa fa-users"></i></div>
                                    </div>
                                </div>
                                <div class="rich-list-content">
                                    <h4 class="rich-list-title mb-1">Company meeting canceled</h4>
                                    <p class="rich-list-subtitle mb-0">5 hrs ago</p>
                                </div>
                                <div class="rich-list-append">
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-label-secondary btn-icon" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-h fs-12"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-check"></i></div>
                                                <span class="dropdown-content">Mark as read</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-trash-alt"></i></div>
                                                <span class="dropdown-content">Delete</span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <div class="dropdown-icon"><i class="fa fa-cog"></i></div>
                                                <span class="dropdown-content">Settings</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12 order-3">
                <div class="card" style="overflow-y: auto; height: 313px;" data-simplebar="">
                    <div class="card-header card-header-bordered">
                        <div class="card-icon text-muted"><i class="fa fa-clipboard-list fs-14"></i></div>
                        <h3 class="card-title">Yapılan son aktiviteler</h3>
                        <div class="card-addon">
                            <button class="btn btn-sm btn-label-primary">See all</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="timeline timeline-timed">
                            <div class="timeline-item">
                                <span class="timeline-time">10:00</span>
                                <div class="timeline-pin"><i class="marker marker-circle text-primary"></i></div>
                                <div class="timeline-content">
                                    <div>
                                        <span>Meeting with</span>
                                        <div class="avatar-group ms-2">
                                            <div class="avatar avatar-circle">
                                                <img src="~/assets/images/users/avatar-1.png" alt="Avatar image" class="avatar-2xs" />
                                            </div>
                                            <div class="avatar avatar-circle">
                                                <img src="~/assets/images/users/avatar-2.png" alt="Avatar image" class="avatar-2xs" />
                                            </div>
                                            <div class="avatar avatar-circle">
                                                <img src="~/assets/images/users/avatar-3.png" alt="Avatar image" class="avatar-2xs" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <span class="timeline-time">14:00</span>
                                <div class="timeline-pin"><i class="marker marker-circle text-danger"></i></div>
                                <div class="timeline-content">
                                    <p class="mb-0">Received a new feedback on <a href="#">GoFinance</a> App product.</p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <span class="timeline-time">15:20</span>
                                <div class="timeline-pin"><i class="marker marker-circle text-success"></i></div>
                                <div class="timeline-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <span class="timeline-time">17:00</span>
                                <div class="timeline-pin"><i class="marker marker-circle text-info"></i></div>
                                <div class="timeline-content">
                                    <p class="mb-0">Make Deposit <a href="#">USD 700</a> o ESL.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
         
        </div>
    </div>
</div>
<!-- end row -->

@section scripts {

    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="~/assets/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}