<!-- ========== Left Sidebar Start ========== -->
<div class="sidebar-left">

    <div data-simplebar class="h-100">

        <!--- Sidebar-menu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="left-menu list-unstyled" id="side-menu">
                <li>
                    <a href="/home/Index" >
                        <i class="fas fa-desktop"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>

                <li class="menu-title">Admin Yetkili İşlemler</li>

                <li>
                    <a href="/Site/Index" >
                        <i class="fa fa-palette"></i>
                        <span>Site Ekleme</span>
                    </a>
                 
                </li>

                <li>
                    <a href="/Birim/Index" >
                        <i class="fa fa-adjust"></i>
                        <span>Birim Yönetimi</span>
                    </a>
                </li>

                <li>
                    <a href="/YonetimDuyuru/Index" >
                        <i class="fa fa-icons"></i>
                        <span>Yönetim Duyuru</span>
                    </a>
                </li>

                <li>
                    <a href="/Unvan/Index" >
                        <i class="fa fa-window-restore"></i>
                        <span>Unvan Yönetimi</span>
                    </a>
                </li>

                <li>
                    <a href="/Kullanici/Index" >
                        <i class="fa fa-shapes"></i>
                        <span>Kullanıcı Yönetimi</span>
                    </a>
                </li>
                <li>
                    <a href="/Template/Index">
                        <i class="fa fa-shapes"></i>
                        <span>Template Yönetimi</span>
                    </a>
                </li>
                <li class="menu-title">SİTE GENEL İŞLEMLERİ</li>

                <li>
                    <a href="/SiteGenelBilgiler/Index" >
                        <i class="fa fa-chart-pie align-middle"></i> Site Genel Bilgiler</a>
            
                </li>

                <li>
                    <a href="/SitePersonel/Index" >
                        <i class="fas fa-table"></i>
                        <span>Site Personel Yönetimi</span>
                    </a>       
                </li>
                <li>
                    <a href="/File/Index" >
                        <i class="fas fa-table"></i>
                        <span>Dosya Yönetimi</span>
                    </a>
                </li>
                <li class="menu-title">SİTE İÇERİK İŞLEMLERİ</li>

                <li><a href="/form/base"><i class="fa fa-dice"></i> <span>Menü Yönetimi</span></a></li>

                <li>
                    <a href="#!" ><i class="fa fa-fill-drip"></i> <span>Hızlı Erişim Yönetimi</span></a>
            
                </li>

                <li>
                    <a href="#!" ><i class="fa fa-pencil-ruler"></i> <span>Duyuru Yönetimi</span></a>
                 
                </li>
                </li>
                <li><a href="/form/inputgroup"><i class="fa fa-th-list"></i> <span>Etkinlik Yönetimi</span></a></li>
                <li><a href="/Haber/Index"><i class="fa fa-ruler-combined"></i> <span>Haber Yönetimi</span></a></li>
                <li><a href="/form/validation"><i class="fa fa-check"></i> <span>Video Yönetimi</span></a></li>

            <li>
                <a href="#!"><i class="fa fa-pencil-ruler"></i> <span>Sık Sorulan Sorular Yönetimi</span></a>

            </li>
            <li>
                <a href="#!"><i class="fa fa-pencil-ruler"></i> <span>Sık Sorulan Sorular Kategori Yönetimi</span></a>

                <li class="menu-title">DİĞER İŞLEMLER</li>

                <li>
                    <a href="javascript: void(0);" >
                        <i class="fa fa-unlock-alt"></i>
                        <span>Footer Yönetimi</span>
                    </a>
                </li>

              
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->