@using Microservice.Admin.Services.Interfaces
@inject ICurrentUserService CurrentUserService

<!-- ========== Left Sidebar Start ========== -->
<div class="sidebar-left">

    <div data-simplebar class="h-100">

        <!--- Sidebar-menu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="left-menu list-unstyled" id="side-menu">
                <li>
                    <a href="/home/Index" >
                        <i class="fas fa-desktop"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>

                @{
                    var currentSiteId = Context.Session.GetInt32("CurrentSiteId");
                    bool hasSiteSelected = currentSiteId.HasValue && currentSiteId.Value > 0;
                }

                @if (CurrentUserService.IsAdmin)
                {
                    <li class="menu-title">Admin Yetkili İşlemler</li>

                    <li>
                        <a href="/Site/Index" >
                            <i class="fa fa-palette"></i>
                            <span>Site Ekleme</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Birim/Index" >
                            <i class="fa fa-adjust"></i>
                            <span>Birim Yönetimi</span>
                        </a>
                    </li>

                    <li>
                        <a href="/YonetimDuyuru/Index" >
                            <i class="fa fa-icons"></i>
                            <span>Yönetim Duyuru</span>
                        </a>
                    </li>

                    <li>
                        <a href="/AuditLog/Index" >
                            <i class="fa fa-shield-alt"></i>
                            <span>Denetim Kayıtları</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Unvan/Index" >
                            <i class="fa fa-window-restore"></i>
                            <span>Unvan Yönetimi</span>
                        </a>
                    </li>
                    <li>
                        <a href="/PersonelTip/Index">
                            <i class="fa fa-window-restore"></i>
                            <span>Personel Tip Yönetimi</span>
                        </a>
                    </li>
                    <li>
                        <a href="/User/Index" >
                            <i class="fa fa-shapes"></i>
                            <span>Kullanıcı Yönetimi</span>
                        </a>
                    </li>
                    <li>
                        <a href="/YoneticiSite/Index">
                            <i class="fa fa-shapes"></i>
                            <span>Kullanıcı Site Yönetimi</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Template/Index">
                            <i class="fa fa-shapes"></i>
                            <span>Template Yönetimi</span>
                        </a>
                    </li>
                }

                @if (hasSiteSelected)
                {
                    <li class="menu-title">SİTE GENEL İŞLEMLERİ</li>

                    <li>
                        <a href="/SiteOzellikleri/Index" >
                            <i class="fa fa-chart-pie align-middle"></i> Site Genel Bilgiler</a>
                    </li>

                    <li>
                        <a href="/SitePersonel/Index" >
                            <i class="fas fa-table"></i>
                            <span>Site Personel Yönetimi</span>
                        </a>       
                    </li>
                    <li>
                        <a href="/File" >
                            <i class="fas fa-table"></i>
                            <span>Dosya Yönetimi</span>
                        </a>
                    </li>
                    <li class="menu-title">SİTE İÇERİK İŞLEMLERİ</li>
                    <li><a href="/Popup/Index"><i class="fa fa-dice"></i> <span>Popup Yönetimi</span></a></li>

                    <li><a href="/Menu/Index"><i class="fa fa-dice"></i> <span>Menü Yönetimi</span></a></li>
                    <li>
                        <a href="/Banner/Index"><i class="fa fa-pencil-ruler"></i> <span>Banner Yönetimi</span></a>

                    </li>
                    <li>
                        <a href="/Bilgi/Index" ><i class="fa fa-fill-drip"></i> <span>Bilgi Sayfası Yönetimi</span></a>
                    </li>

                    <li>
                        <a href="/Duyuru/Index" ><i class="fa fa-pencil-ruler"></i> <span>Duyuru Yönetimi</span></a>
                    </li>

                    <li><a href="/Etkinlik/Index"><i class="fa fa-th-list"></i> <span>Etkinlik Yönetimi</span></a></li>
                    <li><a href="/Haber/Index"><i class="fa fa-ruler-combined"></i> <span>Haber Yönetimi</span></a></li>
                    <li><a href="/Video/Index"><i class="fa fa-check"></i> <span>Video Yönetimi</span></a></li>

                    <li>
                        <a href="/SikcaSorulanSoru/Index"><i class="fa fa-pencil-ruler"></i> <span>Sık Sorulan Sorular Yönetimi</span></a>
                    </li>
                   

                    <li class="menu-title">DİĞER İŞLEMLER</li>

                    <li>
                        <a href="javascript: void(0);" >
                            <i class="fa fa-unlock-alt"></i>
                            <span>Footer Yönetimi</span>
                        </a>
                    </li>
                }
                else if (!CurrentUserService.IsAdmin)
                {
                    // Admin olmayan ve site seçmemiş kullanıcıya uyarı göster
                    <li class="menu-title">BİLGİ</li>
                    <li>
                        <a href="@Url.Action("SelectSite", "SiteSelection")" class="text-warning">
                            <i class="fas fa-exclamation-triangle"></i>
                            <span>Lütfen site seçiniz</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->