<!-- ========== Left Sidebar Start ========== -->
<div class="sidebar-left">

    <div data-simplebar class="h-100">

        <!--- Sidebar-menu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="left-menu list-unstyled" id="side-menu">
                <li>
                    <a href="/" class="">
                        <i class="fas fa-desktop"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="menu-title">Elements</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow ">
                        <i class="fa fa-palette"></i>
                        <span>Base</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/ui/accordions"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Accordions</a></li>
                        <li><a href="/ui/alerts"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Alerts</a></li>
                        <li><a href="/ui/badge"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Badges</a></li>
                        <li><a href="/ui/breadcrumb"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Breadcrumb</a></li>
                        <li><a href="/ui/buttons"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Buttons</a></li>
                        <li><a href="/ui/buttonsgroup"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Button Group</a></li>
                        <li><a href="/ui/cards"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Cards</a></li>
                        <li><a href="/ui/colors"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Colors</a></li>
                        <li><a href="/ui/dropdowns"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Dropdowns</a></li>
                        <li><a href="/ui/listgroup"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> List Group</a></li>
                        <li><a href="/ui/maker"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Makers</a></li>
                        <li><a href="/ui/modals"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Modals</a></li>
                        <li><a href="/ui/nav"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Navigation</a></li>
                        <li><a href="/ui/offcanvas"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Offcavas</a></li>
                        <li><a href="/ui/pagination"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Pagination</a></li>
                        <li><a href="/ui/placeholder"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Placeholder</a></li>
                        <li><a href="/ui/popover"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Popover</a></li>
                        <li><a href="/ui/progressbars"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Progress bar</a></li>
                        <li><a href="/ui/spinner"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Spinners</a></li>
                        <li><a href="/ui/tabs"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Tabs</a></li>
                        <li><a href="/ui/tables"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Tables</a></li>
                        <li><a href="/ui/tooltip"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Tooltips</a></li>
                        <li><a href="/ui/typography"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Typography</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow ">
                        <i class="fa fa-adjust"></i>
                        <span>Advanced</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/ui/avatar"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Avatar</a></li>
                        <li><a href="/ui/blockUI"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Block UI</a></li>
                        <li><a href="/ui/slickcarousel"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Carousel</a></li>
                        <li><a href="/ui/chat"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Chat</a></li>
                        <li><a href="/ui/contextmenu"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Context menu</a></li>
                        <li><a href="/ui/gridnav"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Grid nav</a></li>
                        <li><a href="/ui/richlist"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Rich list</a></li>
                        <li><a href="/ui/sortable"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Sortable</a></li>
                        <li><a href="/ui/sweetalert"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Sweetalert 2</a></li>
                        <li><a href="/ui/timeline"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Timeline</a></li>
                        <li><a href="/ui/toaster"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Toaster</a></li>
                        <li><a href="/ui/treeview"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Tree View</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="fa fa-icons"></i>
                        <span>Icons</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/icons/materialdesign"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Material Design</a></li>
                        <li><a href="/icons/fontawesome"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Font awesome 5</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow ">
                        <i class="fa fa-window-restore"></i>
                        <span>Cards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/ui/cardbase"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Base</a></li>
                        <li><a href="/ui/carddraggable"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Draggable</a></li>
                        <li><a href="/ui/cardtab"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Tab</a></li>
                        <li><a href="/ui/cardtool"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Tool</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow ">
                        <i class="fa fa-shapes"></i>
                        <span>Widget</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/widget/generals"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> General</a></li>
                        <li><a href="/widget/chart"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Chart</a></li>
                    </ul>
                </li>

                <li class="menu-title">Data</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow "><i class="fa fa-chart-pie align-middle"></i> Apexcharts</a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/chartsapex/line"><i class="mdi mdi-checkbox-blank-circle"></i> Line</a></li>
                        <li><a href="/chartsapex/area"><i class="mdi mdi-checkbox-blank-circle"></i> Area</a></li>
                        <li><a href="/chartsapex/column"><i class="mdi mdi-checkbox-blank-circle"></i> Column</a></li>
                        <li><a href="/chartsapex/bar"><i class="mdi mdi-checkbox-blank-circle"></i> Bar</a></li>
                        <li><a href="/chartsapex/mixed"><i class="mdi mdi-checkbox-blank-circle"></i> Mixed/Combo</a></li>
                        <li><a href="/chartsapex/range"><i class="mdi mdi-checkbox-blank-circle"></i> Range Area</a></li>
                        <li><a href="/chartsapex/timeline"><i class="mdi mdi-checkbox-blank-circle"></i> Timeline</a></li>
                        <li><a href="/chartsapex/candle"><i class="mdi mdi-checkbox-blank-circle"></i> Candlestick</a></li>
                        <li><a href="/chartsapex/boxwhisker"><i class="mdi mdi-checkbox-blank-circle"></i> Box & Whisker</a></li>
                        <li><a href="/chartsapex/pie"><i class="mdi mdi-checkbox-blank-circle"></i> Pie/Donut</a></li>
                        <li><a href="/chartsapex/radar"><i class="mdi mdi-checkbox-blank-circle"></i> Radar</a></li>
                        <li><a href="/chartsapex/polar"><i class="mdi mdi-checkbox-blank-circle"></i> Polar Area</a></li>
                        <li><a href="/chartsapex/radial"><i class="mdi mdi-checkbox-blank-circle"></i> Radial/Circle</a></li>
                        <li><a href="/chartsapex/bubble"><i class="mdi mdi-checkbox-blank-circle"></i> Bubble</a></li>
                        <li><a href="/chartsapex/scatter"><i class="mdi mdi-checkbox-blank-circle"></i> Scatter</a></li>
                        <li><a href="/chartsapex/heatmap"><i class="mdi mdi-checkbox-blank-circle"></i> Heatmap</a></li>
                        <li><a href="/chartsapex/treemap"><i class="mdi mdi-checkbox-blank-circle"></i> Treemap</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow ">
                        <i class="fas fa-table"></i>
                        <span>Datatable</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow "><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Basic</a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/datatable/base"><i class="mdi mdi-circle-outline"></i> Base</a></li>
                                <li><a href="/datatable/footer"><i class="mdi mdi-circle-outline"></i> Footer</a></li>
                                <li><a href="/datatable/scrollable"><i class="mdi mdi-circle-outline"></i> Scrollable</a></li>
                                <li><a href="/datatable/pagination"><i class="mdi mdi-circle-outline"></i> Pagination</a></li>
                                <li><a href="/datatable/pagelength"><i class="mdi mdi-circle-outline"></i> Length menu</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!" class="has-arrow "><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Advanced</a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/datatable/advcolrender"><i class="mdi mdi-circle-outline"></i> Column rendering</a></li>
                                <li><a href="/datatable/advcolvisibility"><i class="mdi mdi-circle-outline"></i> Column visibility</a></li>
                                <li><a href="/datatable/advfootercallback"><i class="mdi mdi-circle-outline"></i> Footer callback</a></li>
                                <li><a href="/datatable/advmulticontrol"><i class="mdi mdi-circle-outline"></i> Multiple controls</a></li>
                                <li><a href="/datatable/advrowcallback"><i class="mdi mdi-circle-outline"></i> Row callback</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!" class="has-arrow "><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Extension</a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/datatable/extautofill"><i class="mdi mdi-circle-outline"></i> Auto fill</a></li>
                                <li><a href="/datatable/extbuttons"><i class="mdi mdi-circle-outline"></i> Buttons</a></li>
                                <li><a href="/datatable/extcolreorder"><i class="mdi mdi-circle-outline"></i> Column reorder</a></li>
                                <li><a href="/datatable/extfixedheader"><i class="mdi mdi-circle-outline"></i> Fixed header</a></li>
                                <li><a href="/datatable/extfixedcolumn"><i class="mdi mdi-circle-outline"></i> Fixed column</a></li>
                                <li><a href="/datatable/extkeytable"><i class="mdi mdi-circle-outline"></i> Key table</a></li>
                                <li><a href="/datatable/extrowgroup"><i class="mdi mdi-circle-outline"></i> Row group</a></li>
                                <li><a href="/datatable/extrowreorder"><i class="mdi mdi-circle-outline"></i> Row reorder</a></li>
                                <li><a href="/datatable/extscrollable"><i class="mdi mdi-circle-outline"></i> Scrollable</a></li>
                                <li><a href="/datatable/extsearchpanes"><i class="mdi mdi-circle-outline"></i> Search panes</a></li>
                                <li><a href="/datatable/select"><i class="mdi mdi-circle-outline"></i> Select</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-title">Form</li>

                <li><a href="/form/base"><i class="fa fa-dice"></i> <span>Base</span></a></li>

                <li>
                    <a href="#!" class="has-arrow"><i class="fa fa-fill-drip"></i> <span>Advanced</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/form/autosize"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Autosize</a></li>
                        <li><a href="/form/bsmaxlength"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Bootstrap maxlength</a></li>
                        <li><a href="/form/clipboard"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Clipboard</a></li>
                        <li><a href="/form/datepicker"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Date picker</a></li>
                        <li><a href="/form/datetimepicker"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Date time picker</a></li>
                        <li><a href="/form/rangepicker"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Range picker</a></li>
                        <li><a href="/form/inputmask"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Input mask</a></li>
                        <li><a href="/form/select2"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Select2</a></li>
                        <li><a href="/form/rangeslider"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Slider</a></li>
                        <li><a href="/form/touchspin"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Touchspin</a></li>
                        <li><a href="/form/typeahead"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Typeahead</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#!" class="has-arrow"><i class="fa fa-pencil-ruler"></i> <span>Editors</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/form/basiceditors"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Basic</a></li>
                        <li><a href="/form/bubbleeditors"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Bubble</a></li>
                        <li><a href="/form/complexeditors"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Complex</a></li>
                    </ul>
                </li>

                <li><a href="/form/inputgroup"><i class="fa fa-th-list"></i> <span>Group</span></a></li>
                <li><a href="/form/layout"><i class="fa fa-ruler-combined"></i> <span>Layout</span></a></li>
                <li><a href="/form/validation"><i class="fa fa-check"></i> <span>Validation</span></a></li>

                <li class="menu-title">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow ">
                        <i class="fa fa-unlock-alt"></i>
                        <span>Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/auth/login"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Login</a></li>
                        <li><a href="/auth/register"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Register</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow ">
                        <i class="fa fa-unlink"></i>
                        <span>Error</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/pages/Error404"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Error 404</a></li>
                        <li><a href="/pages/Error500"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Error 500</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/pages/starter"><i class="fas fa-pager"></i> <span>Starter Page</span></a>
                </li>

                <li>
                    <a href="/pages/pricing"><i class="fas fa-dollar-sign"></i> <span>Pricing</span></a>
                </li>

                <li>
                    <a href="/pages/faqs"><i class="fas fa-question"></i> <span>FAQs</span></a>
                </li>

                <li>
                    <a href="/pages/comingsoon"><i class="fas fa-tape"></i> <span>Coming Soon</span></a>
                </li>

                <li class="menu-title">Apps</li>

                <li>
                    <a href="/apps/chat" class="">
                        <i class="fas fa-comment"></i>
                        <span>Chat</span>
                    </a>
                </li>

                <li>
                    <a href="/apps/kanban" class="">
                        <i class="fas fa-grip-horizontal"></i>
                        <span>Kanban Board</span>
                    </a>
                </li>

                <li>
                    <a href="/apps/contact" class="">
                        <i class="fas fa-id-badge"></i>
                        <span>Contacts</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->