@model Microservice.Admin.ViewModels.SignIn.SignInVm

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="container-fluid authentication-bg overflow-hidden">
    <div class="bg-overlay"></div>
    <div class="row align-items-center justify-content-center min-vh-100">
        <div class="col-10 col-md-6 col-lg-4 col-xxl-3">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center">
                        <a href="index.html" class="logo-dark">
                            <img src="~/assets/images/logo-dark.png" alt="" height="80" class="auth-logo logo-dark mx-auto">
                        </a>
               


                        <h4 class="mt-4">Hoşgeldiniz !</h4>
                        <p class="text-muted">Admin paneline erişmek için giriş yapın.</p>
                    </div>

                    <div class="p-2 mt-5">
                        <form asp-action="SignIn">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <!-- EMAIL -->
                            <div class="auth-form-group-custom mb-3">
                        
                                <div class="input-group">
                                    <span class="input-group-text bg-primary bg-opacity-10 fs-16 " id="basic-addon1"><i class="mdi mdi-account-outline auti-custom-input-icon"></i></span>
                                    <input asp-for="Email" type="email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" class="form-control" value="suleatac@gmail.com" />
                                </div>

                                <span asp-validation-for="Email" class="text-danger small"></span>
                            </div>
                            <!-- PASSWORD -->
                            <div class="auth-form-group-custom mb-3">                            
                                <div class="input-group">
                                    <span class="input-group-text bg-primary bg-opacity-10 fs-16" id="basic-addon2"><i class="mdi mdi-lock-outline auti-custom-input-icon"></i></span>
                                    <input asp-for="Password" type="password" class="form-control" id="userpassword" placeholder="Şifre" aria-label="Password" aria-describedby="basic-addon2" value="123456789**" />
                                </div>

                                <span asp-validation-for="Password" class="text-danger small"></span>
                            </div>
                            <div class="mb-sm-5">
                                <div class="form-check float-sm-start">
                                    <input type="checkbox" class="form-check-input" id="customControlInline">
                                    <label class="form-check-label" for="customControlInline">Beni hatırla</label>
                                </div>
                            @*     <div class="float-sm-end">
                                    <a href="auth-recoverpw.html" class="text-muted"><i class="mdi mdi-lock me-1"></i> Şifreni mi unuttun?</a>
                                </div> *@
                            </div>

                            <div class="pt-3 text-center">
                                <button class="btn btn-primary w-xl waves-effect waves-light" type="submit">Giriş Yap</button>
                            </div>

                      

                           
                        </form>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</div>

















@section Scripts {
    <script src="~/assets/js/app.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
