@model Microservice.Admin.ViewModels.Haber.HaberDetailVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>HaberDetailVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SiteId" class="control-label"></label>
                <input asp-for="SiteId" class="form-control" />
                <span asp-validation-for="SiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DilId" class="control-label"></label>
                <input asp-for="DilId" class="form-control" />
                <span asp-validation-for="DilId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HedefId" class="control-label"></label>
                <input asp-for="HedefId" class="form-control" />
                <span asp-validation-for="HedefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KisaAciklama" class="control-label"></label>
                <input asp-for="KisaAciklama" class="form-control" />
                <span asp-validation-for="KisaAciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IcerikMetni" class="control-label"></label>

                <textarea asp-for="IcerikMetni" id="IcerikMetniEditor"></textarea>

                <span asp-validation-for="IcerikMetni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <!-- ResimUrl input -->
            <div class="form-group">
                <label asp-for="ResimUrl" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="ResimUrl" id="ResimUrlInput" class="form-control" readonly />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary" id="openFileManagerBtn">
                            <i class="fa fa-image"></i> Dosya Seç
                        </button>
                    </div>
                </div>
            </div>

            <!-- File Manager Modal -->
            <div class="modal fade" id="fileManagerModal" tabindex="-1">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dosya Yöneticisi</h5>
                            <button type="button" class="close" data-bs-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="height: 700px;">
                            <iframe id="fileManagerFrame" style="width:100%; height:100%; border:none;"></iframe>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="GosterimSayisi" class="control-label"></label>
                <input asp-for="GosterimSayisi" class="form-control" />
                <span asp-validation-for="GosterimSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YayimTarihi" class="control-label"></label>
                <input asp-for="YayimTarihi" class="form-control" />
                <span asp-validation-for="YayimTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EklemeTarihi" class="control-label"></label>
                <input asp-for="EklemeTarihi" class="form-control" />
                <span asp-validation-for="EklemeTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaslamaTarihi" class="control-label"></label>
                <input asp-for="BaslamaTarihi" class="form-control" />
                <span asp-validation-for="BaslamaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitisTarihi" class="control-label"></label>
                <input asp-for="BitisTarihi" class="form-control" />
                <span asp-validation-for="BitisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoUrl" class="control-label"></label>
                <input asp-for="SeoUrl" class="form-control" />
                <span asp-validation-for="SeoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoTitle" class="control-label"></label>
                <input asp-for="SeoTitle" class="form-control" />
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoDescription" class="control-label"></label>
                <input asp-for="SeoDescription" class="form-control" />
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!--tinymce js-->
    <script src="~/assets/libs/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
        selector: "#IcerikMetniEditor",
        height: 500,

        plugins: [
        'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
        'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
        'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
        // 🔥 FILE MANAGER ENTEGRASYONU
        // Edit.cshtml içindeki script
        file_picker_callback: function (callback, value, meta) {
        let typeFilter = "";
        if (meta.filetype === "image") {
        typeFilter = "image";
        } else if (meta.filetype === "media") {
        typeFilter = "video";
        }

        openFileManager(function (url) {
        if (meta.filetype === 'image') {
        callback(url, { alt: 'Görsel' }); // Resim seçildiyse alt text ekle
        } else {
        callback(url);
        }
        }, typeFilter);
        }




        });
    </script>
    <script>

        // Unobtrusive JavaScript
        $(function () {
        $('#openFileManagerBtn').on('click', function () {
        const siteId = '@ViewBag.SiteId'; // Controller'dan geliyor
        const type = 'image';
        $('#fileManagerFrame').attr('src', `/File?siteId=${siteId}&mode=picker&type=${type}`);
        $('#fileManagerModal').modal('show');
        });

        window.addEventListener('message', function (event) {
        if (event.data.type === 'file-selected') {
        $('#ResimUrlInput').val(event.data.url);
        $('#fileManagerModal').modal('hide');
        }
        });
        });


        function openFileManager(callback, type) {

        let w = window.open(
        `/File?siteId=1&mode=picker&type=${type}`,
        "FileManager",
        "width=1200,height=700"
        );

        window.addEventListener("message", function handler(event) {

        if (event.data.type === "file-selected") {
        callback(event.data.url);
        w.close();
        window.removeEventListener("message", handler);
        }

        });
        }
    </script>



}
